{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center pt-5 pb-5 mt-5 mb-5">
        <div class="row bg-white shadow-sm">
          <div class="col border rounded p-4">
            <h3 class="text-center mb-4">Сброс пароля</h3>
            <p>Письмо со ссылкой для восстановления пароля отправлено на указанную почту.</p>
          </div>
        </div>
      </div>
{% endblock %}