{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center pt-5 pb-5 mt-5 mb-5">
        <div class="row bg-white shadow-sm">
          <div class="col border rounded p-4">
            <h3 class="text-center mb-4">Смена пароля</h3>
            {% if validlink %}
              <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                  <p>Пожалуйста, дважды введите новый пароль.</p>
                </div>
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Сменить пароль" class="btn-ruby btn mb-3 px-5">
              </form>
            {% else %}
            <p>Ссылка больше не действительна. Пожалуйста, запросите другую.</p>
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}